$border_width: 2px
$border_radius: 5px
$padding: 5px
$columns: 12
$navgap: 1em

/* Colours */
$navhovcolor: #a5a5a5   
$navdefcolor: #2e2e2e
$primBG: rgb(248, 248, 248)
$primary: #3498db
$primary_dark: #2980b9
$danger: #e74c3c
$danger_dark: #c0392b
$warning: #f1c40f
$warning_dark: #f39c12
$success: #2ecc71
$success_dark: #27ae60